<!DOCTYPE html>
<html>
<head>
	<title>{{ $subject }}</title>
	<style>
		table{
			width:100%;
			border-collapse: collapse;
		}
		table tr th, table tr td{
			border: 1px solid #ccc;
			padding: 5px 7px;
			vertical-align: baseline;
		}
	</style>
</head>
<body>
	<div style="max-width: 500px; margin: 15px auto;  font-family: Arial;">
		<!-- <div style="background: #fff; padding: 20px 15px; text-align: center">
			<img src="{{ url('imgs/logo.png') }}" alt="" style="width:50%;">
		</div>
		<div style="background: #79e6cf; padding: 15px;">
			<h2 style="font-weight: normal;">Thank You !!</h2>
			<p> Your Application has been Submitted Successfully.</p>
		</div> -->
		
		<table>
			<tr>
				<td colspan="2" style="background: rgba(6, 98, 178, 0.9) !important; color: #fff;">
					<!-- <div style="float:left;padding: 0px 30px;">
						<img src="https://www.localhost/laravel-projects/affluence_market_reports/imgs//welcome.png" alt="" style="width:80px">
					</div> -->
					<div style="padding: 10px 10px;text-align: center;">
						<h3>
							AFFLUENCE MARKET REPORTS
						</h3>
						
					</div>
				</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>Shrawan choudhary</td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td>9660257608</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>rams50288@gmail.com</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>India</td>
			</tr>
			<tr>
				<th>Job Title</th>
				<td>Web developer</td>
			</tr>
			<tr>
				<th>Company</th>
				<td>Suncity Techno</td>
			</tr>
			<tr>
				<th>Message</th>
				<td>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</td>
			</tr>
			<tr>
				<th>Report</th>
				<td>Alcohol Breath Testing Equipment Market Research: Global Status & Forecast by Geography, Type & Application (2017-2027)</td>
			</tr>
		</table>
	</div>
</body>
</html>
